<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<title>Administrar profesores</title>
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round"></link>
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons"></link>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></link>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
	integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
	crossorigin="anonymous">
<link href="css/cruds.css" th:href="@{/css/cruds.css}" rel="stylesheet"></link>

</head>
<body>
	<div class="container">
		<div class="modal-dialog">
			<div class="modal-content">
				<form th:object="${profesor}" method="post">
					<div class="modal-header">
						<h4 class="modal-title">Agregar profesor</h4>
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label>Documento</label> <input th:field="*{numeroDocumento}"
								type="text" class="form-control" required="required"></input> <label
								th:if="${#fields.hasErrors('numeroDocumento')}"
								th:errors="*{numeroDocumento}" class="validation-message">
							</label>
						</div>
						<div class="form-group">
							<label>Nombre 1</label> <input th:field="*{nombre1}" type="text"
								class="form-control" required="required"></input> <label
								th:if="${#fields.hasErrors('nombre1')}" th:errors="*{nombre1}"
								class="validation-message"> </label>
						</div>
						<div class="form-group">
							<label>Nombre 2</label> <input th:field="*{nombre2}" type="text"
								class="form-control"></input> <label
								th:if="${#fields.hasErrors('nombre2')}" th:errors="*{nombre2}"
								class="validation-message"> </label>
						</div>
						<div class="form-group">
							<label>Apellido 1</label> <input th:field="*{apellido1}"
								type="text" class="form-control" required="required"></input> <label
								th:if="${#fields.hasErrors('apellido1')}"
								th:errors="*{apellido1}" class="validation-message"> </label>
						</div>
						<div class="form-group">
							<label>Apellido 2</label> <input th:field="*{apellido2}"
								type="text" class="form-control"></input> <label
								th:if="${#fields.hasErrors('apellido2')}"
								th:errors="*{apellido2}" class="validation-message"> </label>
						</div>
						<div class="form-group">
							<label>Especialidad</label> <input th:field="*{especialidad}"
								type="text" class="form-control"></input> <label
								th:if="${#fields.hasErrors('especialidad')}"
								th:errors="*{especialidad}" class="validation-message">
							</label>
						</div>
						<div class="form-group">
							<label>Email</label> <input th:field="*{email}" type="email"
								class="form-control" required="required"></input> <label
								th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
								class="validation-message"> </label>
						</div>
						<div class="form-group">
							<label>Teléfono</label> <input th:field="*{telefono}" type="text"
								class="form-control" required="required"></input> <label
								th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"
								class="validation-message"> </label>
						</div>
						<div class="form-group">
							<label>Eps</label> <input th:field="*{eps}" type="text"
								class="form-control"></input> <label
								th:if="${#fields.hasErrors('eps')}" th:errors="*{eps}"
								class="validation-message"> </label>
						</div>
						<div class="form-group">
							<label>Dirección</label> <input th:field="*{direccion}"
								type="text" class="form-control"></input> <label
								th:if="${#fields.hasErrors('direccion')}"
								th:errors="*{direccion}" class="validation-message"> </label>
						</div>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal"
							value="Cancel"></input> <input type="submit"
							class="btn btn-success" value="Guardar"></input>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script type="text/javascript" th:src="@{/js/mostrarProfesores.js}"></script>
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
		integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
		integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
		integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
		crossorigin="anonymous"></script>
</body>
</html>
