<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"></link>
	<head>
    	<meta charset="UTF-8"></meta>
    	<title>Mostrar Grupos</title>
	</head>
	<body>
		<h6 th:if="${mensaje != null}" th:text="${mensaje}"></h6>
		<div align="center" style ="heigth:50%">	
				<table>
					<tr>
						<td>
							<button class="btn btn-success" onclick="crearFila()">+</button>
						</td>
						<td>
							<button class="btn btn-danger" onclick="eliminarFila()">-</button>
						</td>
					</tr>
				</table>
				<form method="post">
				<table id="tbody" style="width:99%" class="table table-strped table-bordered"></table>
					<div align ="center">
						<button type="submit" class="btn btn-warning">Cargar grupos</button>
					</div>
				</form>
		</div>	    
		<h6 align="center">Grupos existentes</h6>
		<div style="height:50%">
			<table style="width:99%" class="table table-strped table-bordered">
			    <thead class="thead-dark">
			    	 <tr align="center">
				   		<th scope="col">
				    		#
				    	</th>
				    	<th scope="col">
				    		Ciclo
				    	</th>
					    <th scope="col">
					    	Jornada
					    </th>
					    <th scope="col">
					    	Numero
					    </th>
					    <th scope="col">
					    	Nivel
					    </th>
					    <th scope="col">
					    	Profesor
					    </th>
					    <th scope="col">
					    	Fecha de inicio
					    </th>
					    <th scope="col">
					    	Fecha de fin
					    </th>
					    <th scope="col">
					    	Eliminar
					    </th>
				  	</tr>	
			    </thead>
			    <tbody>
			    	<tr align="center" th:if="${grupos.size() > 0}" th:each="grupo :${grupos}">
			    		<td>
			    			<a th:href="@{/grupos/editar/{orderId}(orderId=${grupo.getId()})}" th:text="${grupo.getId()}">
			    				
			    			</a>
			    		</td>
			    		<td  th:text="${grupo.getCiclo()}">
			    		</td>
			    		<td  th:text="${grupo.getJornada()}">
			    		</td>
			    		<td  th:text="${grupo.getNumero()}">
			    		</td>
			    		<td  th:text="${grupo.getNivel().getNombre()}">
			    		</td>
			    		<td>
			    			<p  th:if="${grupo.getProfesor() != null}" th:text="${grupo.getProfesor().getNombre1()}+' '+${grupo.getProfesor().getNombre2()}+' '+${grupo.getProfesor().getApellido1()}+' '+${grupo.getProfesor().getApellido2()}"></p>
			    		</td>
			    		<td  th:text="${grupo.getFechaInicio()}">
			    		</td>
			    		<td  th:text="${grupo.getFechaFin()}">
			    		</td>
			    		<td align="center">
			    			<a th:href="@{/grupos/eliminar/{orderId}(orderId=${grupo.getId()})}">
			    				<button class="btn btn-danger">X</button>
			    			</a>
			    		</td>
			    	</tr>
			    </tbody>
			</table>	
		</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/mostrarGrupos.js}"></script>	
	</body>
</html>