<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Login</title>

<div th:replace="Base/base :: estilosBootstrap"></div>
<link href="/css/login.css" th:href="@{/css/login.css}" rel="stylesheet"></link>
</head>
<body>
	<nav th:replace="Base/base :: nav"></nav>
	<div class="container">
		<div class="modal-dialog modal-login card">
			<div class="modal-content">
				<div class="modal-header">
					<div class="avatar">
						<img src="/img/avatar.png" alt="Avatar"></img>
					</div>
					<h4 class="modal-title">Login</h4>
				</div>
				<div class="modal-body">
					<form th:action="@{/login}" method="POST" class="form-signin">
						<div class="form-group">
							<input type="text" id="username" name="username"
								th:placeholder="Usuario" class="form-control"
								required="required"></input>
						</div>
						<div class="form-group">
							<input type="password" th:placeholder="Password" id="password"
								name="password" class="form-control" required="required"></input>
						</div>
						<div align="center" th:if="${param.error}">
							<p style="font-size: 20; color: #FF1C19;">Email or Password
								invalid, please verify</p>
						</div>
						<div class="form-group">
							<button class="btn btn-lg btn-primary btn-block login-btn"
								name="Submit" value="Login" type="Submit" th:text="Login"></button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="Base/base :: scriptsBootstrap"></div>
</body>
</html>