<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Preinscripcion</title>

<div th:replace="Base/base :: estilosBootstrap"></div>
<link href="css/cruds.css" th:href="@{/css/cruds.css}" rel="stylesheet"></link>

</head>
<body>
	<nav th:replace="Base/base :: nav"></nav>
	<div class="container">
		<div th:if="${mensaje} != ''"
			class="alert alert-info alert-dismissible fade show" role="alert">
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<strong><span th:text="${mensaje}"></span></strong>
		</div>
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-6">
						<h2>
							Administrar <b>Preinscripciones</b>
						</h2>
					</div>
					<div class="col-sm-6">
						<a data-toggle="modal" class="btn btn-success"
							data-target=".reportePreinscripcionModal"><i
							class="material-icons">&#xE147;</i> <span>Reporte
								preinscripcion</span></a>
					</div>
				</div>
			</div>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Nombre completo</th>
						<th>Número de Documento</th>
						<th>Teléfono</th>
						<th>Idioma</th>
						<th>Tipo</th>
						<th>Jornada</th>
						<th>Email</th>
						<th>Fecha de preinscripción</th>
						<th>¿Eliminar?</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="preinscripcion :${paginas}">
						<td th:text="${preinscripcion.getNombreCompleto()}"></td>
						<td th:text="${preinscripcion.getNumeroDocumento()}"></td>
						<td th:text="${preinscripcion.getTelefono()}"></td>
						<td th:text="${preinscripcion.getIdioma()}"></td>
						<td th:text="${preinscripcion.getTipo()}"></td>
						<td th:text="${preinscripcion.getJornada()}"></td>
						<td th:text="${preinscripcion.getEmail()}"></td>
						<td th:text="${preinscripcion.getFecha()}"></td>
						<td><a
							th:attr="href='#eliminarpreinscripcionModal'+${preinscripcion.getId()}"
							class="delete" data-toggle="modal"> <i class="material-icons"
								data-toggle="tooltip" title="Delete">&#xE872;</i>
						</a></td>
						<!-- Delete Modal HTML -->
						<div
							th:attr="id='eliminarpreinscripcionModal'+${preinscripcion.getId()}"
							class="modal fade">
							<div class="modal-dialog">
								<div class="modal-content">
									<form>
										<div class="modal-header">
											<h4 class="modal-title">
												Eliminar la preinscripción de <span
													th:text="${preinscripcion.getNombreCompleto()}"></span>
											</h4>
											<button type="button" class="close" data-dismiss="modal"
												aria-hidden="true">&times;</button>
										</div>
										<div class="modal-body">
											<p>¿Está seguro que quiere eliminar estos registros?</p>
											<p class="text-warning">
												<small>Esta acción no se puede deshacer.</small>
											</p>
										</div>
										<div class="modal-footer">
											<input type="button" class="btn btn-default"
												data-dismiss="modal" value="Cancelar"></input> <a
												th:href="|@{/preinscripcion/eliminar/__${preinscripcion.getId()}__}|"
												class="btn btn-danger">Eliminar</a>
										</div>
									</form>
								</div>
							</div>
						</div>
					</tr>
				</tbody>
			</table>
			<div class="clearfix">
				<!-- <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div> -->
				<ul class="pagination">
					<li
						th:class="${paginas.number == 0} ? 'page-item disabled': 'page-item'">
						<a class="page-link"
						th:href="@{page(pageSize=${selectedPageSize}, page=1)}">Inicio</a>
					</li>
					<li
						th:class="${paginas.number == 0} ? 'page-item disabled': 'page-item'">
						<a class="page-link"
						th:href="@{page(pageSize=${selectedPageSize}, page=${paginas.number})}">Anterior</a>
					</li>
					<li
						th:class="${paginas.number == (page - 1)} ? 'page-item active': 'page-item'"
						th:each="page : ${#numbers.sequence(pagina.startPage, pagina.endPage)}">
						<a class="page-link"
						th:href="@{page(pageSize=${selectedPageSize}, page=${page})}"
						th:text="${page}"></a>
					</li>
					<li
						th:class="${paginas.number + 1 == paginas.totalPages} ? 'page-item disabled': 'page-item'">
						<a class="page-link"
						th:href="@{page(pageSize=${selectedPageSize}, page=${paginas.number + 2})}">Siguiente</a>
					</li>
					<li
						th:class="${paginas.number + 1 == paginas.totalPages} ? 'page-item disabled': 'page-item'">
						<a class="page-link"
						th:href="@{page(pageSize=${selectedPageSize}, page=${paginas.totalPages})}">Final</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- Reporte Modal HTML -->
		<div class="modal fade reportePreinscripcionModal" tabindex="-1"
			role="dialog">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Reporte cantidad de estudiantes</h4>
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<table class="table table-strped table-bordered">
							<thead class="thead-dark" align="center">
								<tr>
									<th>&nbsp;</th>
									<th scope="col" th:if="${idiomas.size() > 0}"
										th:each="idioma :${idiomas}" th:text="${idioma}"></th>
								</tr>
							</thead>
							<tbody>
								<tr th:if="${reporteIdiomaTipos.size() > 0}"
									th:each="reporteIdiomaTipo :${reporteIdiomaTipos}">
									<td th:each="campo : ${reporteIdiomaTipo}">
										<p th:text="${campo}"></p>
									</td>
								</tr>
								<tr>
									<td>Total</td>
									<td th:if="${totalesxIdioma.size() > 0}"
										th:each="totalxIdioma :${totalesxIdioma}"
										th:text="${totalxIdioma[1]}"></td>
								</tr>
							</tbody>
						</table>

						<table>
							<tr>
								<th><b> Total preinscritos:&nbsp; </b></th>
								<th th:text="${totalPreinscripciones}"></th>
							</tr>
						</table>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal"
							value="Cancelar"></input>
					</div>
				</div>
			</div>
		</div>


		<div align="center">
			<b th:if="${totalPreinscripciones == 0}"
				th:text="${'No hay preinscripciones pendientes en el sistema'}">
			</b>
		</div>

	</div>

	<div th:replace="Base/base :: scriptsBootstrap"></div>
</body>
</html>